html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.fader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);

}

.transition {
    transition: all .2s ease-in-out;
}

.yellow.color {
    color: #FFDD00;
}

.yellow.background {
    background-color: #FFDD00;
}

.container {
    max-width: 2560px;
}

.hero-intro {
    padding-top: 30px;
    background:url('../images/backgrounds/bg1.jpg') no-repeat rgb(230, 230, 230);
    margin: 0;
    width: 100%;
    height: 100%;
}

.hero-intro .row {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3), 0 -2px 3px rgba(0, 0, 0, .3);
    padding: 5px 15%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.header .title {
    font-size: 18px;
}

.header .title-definition {
    font-size: 15px;
    margin-bottom: 0;
}

.info {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.info .title {
    font-weight:bold;
}

.info .description {

}

.info .description-meta {
    font-size: 16px;
}

.info .buttons {
    margin-top: 20px;
    text-shadow: none;
}

.button {
    cursor: pointer;
    width: 200px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #fff;
}

.button.yellow {
    border: none;
    color: rgb(30, 30, 30);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    margin-right: 20px;
}

.enroll:hover {
    background-color: #ccb000;
}

.trial:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.link-to-form {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: url('../images/double-arrow.png') 53% 50% no-repeat rgba(240, 240, 240, .7);
    border: 3px solid rgba(256, 256, 256, .2);
}

.hero-advantages {
    width: 100%;
    background-color: rgb(220, 220, 220);
    padding-top: 20px;
    text-align: center;
}

.hero-advantages .title {
    font-weight: bold;
}

.advantages-container {
    width: 66%;
}

.advantages-container.second-line {
    margin-top: 30px;
    margin-bottom: 20px;
}

.advantage {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    min-height: 270px;
    padding: 15px 0 15px 0;
}

.image-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
}

.image-container .advantage-photo {
    width: 100%;
}

.advantage-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    bottom: 0;
    height: 27%;
    width: 100%;
}

.advantage-info .title {
    padding: 0 5px 0 5px;
    font-weight: bold;
}

.advantage .advantage-icon {
    margin-top: 15px;
    width: 60%;
}

.image-container .advantage-photo {
    margin-top: 20%;
}

.advantage-info .description {

}

.advantage:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.advantage:hover > .advantage-info {
    height: 30%;
    background-color: #FFDD00;
    color: rgb(30, 30, 30);
}

.advantage:hover > .image-container .advantage-icon {
    transform: translateY(-150%);
}

.advantage:hover > .image-container .advantage-photo {
    transform: translateY(-100%);
}

.advantage.first {
}

.advantage.first {

}

.advantage.first {

}

.advantage.first {

}

.advantage.first {

}

.advantage.first {

}

.hero-mail {
    text-align: center;
    padding-top: 30px;
    min-height: 740px;
    background: url('../images/backgrounds/banners1.jpg') no-repeat 50% 100%;
}

.form-send {
    margin-top: 40px;
}

.form-send .twelve.column {
    margin-left: 0;
}

.form-send .form-submit {
    margin-right: 0;
}

.hero-links {
    width: 100%;
    min-height: 300px;
    background-color: rgb(31, 31, 31);
}

.links {
    list-style-type: none;
    margin-top: 50px;
}

.links .title {
    color: #FFDD00;
    text-decoration: underline;
}

.links a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.hero-map {
    width: 100%;
    min-height:250px;
}

#map {
    width: 100%;
    height: 250px;
}

.hero-contacts {
    background-color: #fff;
    height: 170px;
}

.contacts-item {
    margin-top: 50px;
    width: 100%;
    color: #101010;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contacts-item .title {
    font-weight: bold;
}

.hero-footer {
    width: 100%;
    height: 60px;
    background-color: rgb(31, 31, 31);
}

.hero-developer {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(31, 31, 31);
    height: 20px;
}