.hero-intro {
    padding-top: 30px;
    background:url('../images/backgrounds/bg1.jpg') no-repeat rgb(230, 230, 230);
    margin: 0;
    width: 100%;
    height: 100%;
}

.hero-intro .fader {
    background-color: rgba(0, 0, 0, .35);
}

.hero-intro .info {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.hero-intro .info .info-heading {
    text-align: left;
    display: inline;
}

.hero-intro .info .info-logo {
    float: left;
    width: 200px;
}

.hero-intro .info .info-heading {

}

.hero-intro .info .title {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 5px;
    text-shadow: #000 0 0 4px, #000 0 0 4px,   #000 0 0 4px,
    #000 0 0 4px, #000 0 0 4px, #000 0 0 4px;
    font-size: 45px;
    font-weight:bold;
}

.hero-intro .info .description {
    font-size: 30px;
}

.hero-intro .info .description-meta {
    font-size: 16px;
}

.hero-intro .info .buttons {
    margin-top: 45px;
    text-shadow: none;
}

.hero-intro .link-to-form {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-advantages {
    width: 100%;
    background: url('../images/backgrounds/advantages-bg.jpg') no-repeat rgb(220, 220, 220);
    background-size: 100%;
    padding: 25px 0 30px 0;
    text-align: center;
}

.hero-advantages > .title {
    position:absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.hero-advantages .bookmarks {

}

.hero-advantages .information {
    height: 100%;
    background-color: #FFDD00;
}

.hero-advantages .information:before {
    height: 100%;
    width: 100%;
    content: "";
    position: relative;
    left: -48.5%;
    border-bottom: 20px solid #FFDD00;
    border-left: 15px solid transparent;
}

.advantages ul {
    list-style: none;
}

.advantages ul li {
    cursor: pointer;
    max-width: 70%;
    margin-top: 15px;
    text-align: left;
    padding: 15px 0 15px 15px;
    color: #202020;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.advantages ul li .title {
    font-size: 16px;
}

.advantages ul li:hover {
    background-color: #FFDD00;
}

.advantages ul li .title {
    font-weight: bold;
}

.advantages ul li.first {
    transform:  translateX(60%);
}

.advantages ul li.second {
    transform:  translateX(50%);
}

.advantages ul li.third {
    transform:  translateX(40%);
}

.advantages ul li.fourth {
    transform:  translateX(30%);
}

.advantages ul li.fifth {
    transform:  translateX(20%);
}

.advantages ul li.sixth {
    transform:  translateX(10%);
}

.advantages ul li:first-child {
    margin-top: 0;
}

.advantages-info {
    position: relative;
    z-index: 2;
    margin-left: 0 !important;
    height: 464px;
}

.tab {
    margin-top: 70px;
}

.tab .trapezoid {
    position: absolute;
    right: 11.9%;
    top: 0;
    width: 54%;
    height: 100%;
    -webkit-clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #FFDD00;
}

.tab .tabItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.tabItem .title {
    font-weight: bold;
}

.image-container {
    z-index: 3;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
}

.advantage .advantage-icon {
    margin-top: 5px;
    width: 50%;
}

.advantage .white-fader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(256,256, 256, .6);
}

.advantage .advantage-photo {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 270px;
    z-index: 1;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px) grayscale(90%);
}

.advantage-info {
    z-index:4;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    bottom: 0;
    height: 27%;
    width: 100%;
}

.advantage-info .title {
    padding: 0 5px 0 5px;
    font-weight: bold;
}

.advantage-info .description {
    padding-bottom: 5px;
}

.advantage:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.advantage:hover > .advantage-info {
    height: 30%;
    background-color: #FFDD00;
    color: rgb(30, 30, 30);
}

.advantage:hover > .image-container .advantage-icon {
    transform: translateY(-150%);
}

.advantage:hover > .advantage-photo {
    filter: none;
}

.advantage:hover > .white-fader {
    opacity: 0;
}